<div class="dashboard-profile-box">
  <p>{{ctrl.user.name}}</p>
  <p>{{ctrl.user.city}}, {{ctrl.user.state}}</p>
  <p>{{ctrl.user.salary | currency:"$":0}}</p>
</div>


<div class="container">

  <h2>Possible Locations</h2>
  <form class="form-inline">
    <span>Order by: </span>
    <div class="form-group">
      <input type="radio" name="feed-order" ng-value="true" id="high-income" ng-model="orderBy.highIncome" ng-change="changeFeedOrder()">
      <label for="high-income">Highest Income</label>
    </div>
    <div class="form-group">
      <input type="radio" name="feed-order" ng-value="false" id="low-income" ng-model="orderBy.highIncome" ng-change="changeFeedOrder()">
      <label for="low-income">Lowest Income</label>
    </div>
  </form>

  <div class="feed-sheet">
    <div class="feed-item" ng-repeat="location in sampleLocations | orderBy:compare.salary.diff:orderBy.highIncome" ng-click="location.showDetails = !location.showDetails; $event.stopPropagation()">
      <h3>{{location.city}}, {{location.state}}</h3>
      <p class="feed-item-flex-inline-text"><span>{{location.compare.salary.diff | currency:"$":0}}</span><span ng-class="{'positive-change': location.compare.salary.percent > 1, 'negative-change': location.compare.salary.percent < 1}">{{location.compare.salary.percent | percentage}}</span></p>
      <a ng-click="location.showDetails = !location.showDetails; $event.stopPropagation()">{{location.showDetails ? 'Hide Details' : 'Show Details'}}</a>
      <div class="feed-item-details" ng-show="location.showDetails">
        <p class="feed-item-flex-inline-text"><span>Housing</span><span>{{location.compare.housing.diff | currency:"$":0}}</span><span ng-class="{'positive-change': location.compare.housing.percent > 1, 'negative-change': location.compare.housing.percent < 1}">{{location.compare.housing.percent | percentage}}</span></p>
        <p class="feed-item-flex-inline-text"><span>Food</span><span>{{location.compare.food.diff | currency:"$":0}}</span><span ng-class="{'positive-change': location.compare.food.percent > 1, 'negative-change': location.compare.food.percent < 1}">{{location.compare.food.percent | percentage}}</span></p>
      </div>
    </div>
  </div>
</div>
