/* Coolors Exported Palette - coolors.co/966b9d-c98686-f2b880-fff4ec-e7cfbc */

// /* HSL */
// $color1: hsla(292%, 20%, 52%, 1);
// $color2: hsla(0%, 38%, 66%, 1);
// $color3: hsla(29%, 81%, 73%, 1);
// $color4: hsla(25%, 100%, 96%, 1);
// $color5: hsla(27%, 47%, 82%, 1);

/* RGB */
$mountbattenPink: rgba(150, 107, 157, 1);
$oldRose: rgba(201, 134, 134, 1);
$mellowApricot: rgba(242, 184, 128, 1);
$seashell: rgba(255, 244, 236, 1);
$dustStorm: rgba(231, 207, 188, 1);
